<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="GigaSpaces" type="GigaSpaces.Core.Configuration.GigaSpacesCoreConfiguration, GigaSpaces.Core, Version=16.3.0.0, Culture=neutral, PublicKeyToken=94297b57ee0e4ad5"/>
	</configSections>

	<GigaSpaces>
		<!-- Location of configuration file for values not set in this configuration file.  -->
		<BaseConfigFile Path="" />
		<!-- GigaSpaces Provider Settings 
			  Type: GigaSpaces.Core.Provider
		-->
		<Provider Type="Jet">
			<!-- Jet provider settings
					 LoggingLevel: GigaSpaces.NetToJava.TraceLevel
					 AutoDetachThread: GigaSpaces.NetToJava.AutoDetachThread
			-->
			<JetProviderSettings LoggingLevel="Information" AutoDetachThread="On"/>
		</Provider>

		<!-- System Properties -->
		<SystemProperties>
			<!-- Intergration of XAP.NET with XAP -->
			<add Name="com.gs.home" Value="$(XapNet.Runtime.Path)" />
			<add Name="com.gs.xapnet.home" Value="$(XapNet.Path)" />
			<add Name="com.gs.xapnet.settingsPath" Value="$(XapNet.SettingsFile)" />
			<!-- Security Properties -->
			<add Name="com.gs.security.enabled" Value="$(XapNet.Security.Enabled)"/>
			<!-- Logging properties -->
			<add Name="java.util.logging.config.file" Value="$(XapNet.Logs.ConfigurationFile)"/>
			<add Name="com.gigaspaces.logger.RollingFileHandler.filename-pattern" Value="$(XapNet.Logs.Path)\$(XapNet.Logs.FileName)"/>
			<add Name="com.gs.logging.debug" Value="false"/>
			<add Name="gs.gc.collectionTimeThresholdWarning" Value="8000" />
		</SystemProperties>
		
		<!-- Java Virtual Machine settings -->
		<JvmSettings>
			<!-- Type/Location of jvm.dll to use
					 Mode: GigaSpaces.Core.JvmMode
					 Path: If Mode is set to JvmMode.Custom, Path should be set to path of jvm.dll.
			-->
			<JvmDll Mode="Client" Path=""/>
			<!-- Memory settings for initial and maximum heap size -->
			<JvmMemory InitialHeapSizeInMB="16" MaximumHeapSizeInMB="256" />
			<!-- Class path -->
			<JvmClassPath>
				<!--<add Path="C:\SomeFolder"/>-->
			</JvmClassPath>
			<!-- Jvm custom options.-->
			<JvmCustomOptions IgnoreUnrecognized="false">
				<!--<add Option="-XX:+AggressiveOpts" />-->
				<!-- Uncomment the following options if you're using Java 11: -->
			    <add Option="$(XapNet.Runtime.Java.Modules)" />
			    <add Option="$(XapNet.Runtime.Java.Opens)" />
				<add Option="-XX:+UseG1GC" />
				<add Option="-XX:MaxGCPauseMillis=1000" />
				<add Option="-Xlog:gc:file=gc-%p.log:time,level,tags,tid:filecount=10,filesize=2m" />
			</JvmCustomOptions>
		</JvmSettings>
	</GigaSpaces>
</configuration>
