<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<!-- Location of XAP.NET -->
	<XapNet.Path>$(XapNet.SettingsFile)\..\..</XapNet.Path>
	<!-- Location of XAP.NET Installation -->
	<XapNet.Install.Path>$(XapNet.Path)\..</XapNet.Install.Path>
	<!-- Location of Configuration folder -->
	<XapNet.Config.Path>$(XapNet.Path)\Config</XapNet.Config.Path>
	<!-- Location of XAP Runtime files -->
	<XapNet.Runtime.Path>$(XapNet.Install.Path)\Runtime</XapNet.Runtime.Path>
	<!-- Location of Java Runtime files -->
	<XapNet.Runtime.JavaHome>%JAVA_HOME%</XapNet.Runtime.JavaHome>
	<!-- Options required for Java 11 or later -->
	<XapNet.Runtime.Java.Modules>--add-modules=ALL-SYSTEM</XapNet.Runtime.Java.Modules>
	<XapNet.Runtime.Java.Opens>--add-opens=jdk.management/com.sun.management.internal=ALL-UNNAMED</XapNet.Runtime.Java.Opens>

	<!-- Log settings -->
	<XapNet.Logs.ConfigurationFile>$(XapNet.Config.Path)\Log\xap_logging.properties</XapNet.Logs.ConfigurationFile>
	<XapNet.Logs.Path>$(XapNet.Path)\Logs</XapNet.Logs.Path>
	<!-- Change as per requirement -->
	<XapNet.Logs.FileName>{date,yyyy-MM-dd~HH.mm}-gigaspaces-{service}-{host}-{pid}.log</XapNet.Logs.FileName>

	<!-- Lookup and Discovery options -->
	<XapNet.HostName>%COMPUTERNAME%</XapNet.HostName>	
	<XapNet.Multicast.Enabled>false</XapNet.Multicast.Enabled>
	<XapNet.Groups>xap-16.3.0</XapNet.Groups>
	<XapNet.Locators></XapNet.Locators>
	<XapNet.Zones></XapNet.Zones>
	
	<!-- Security options -->
	<XapNet.Security.Enabled>false</XapNet.Security.Enabled>

	<!-- Service Grid settings -->
	<XapNet.GsTools.ConfigFile>$(XapNet.Config.Path)\GsTools.config</XapNet.GsTools.ConfigFile>
	<XapNet.ServiceGrid.ConfigFile>$(XapNet.Config.Path)\ServiceGrid.config</XapNet.ServiceGrid.ConfigFile>
	<XapNet.GsAgent.ConfigFile>$(XapNet.Config.Path)\gs-agent.config</XapNet.GsAgent.ConfigFile>

	<XapNet.Gsc.ConfigFile>$(XapNet.Config.Path)\gsc.config</XapNet.Gsc.ConfigFile>
	<!-- Change below 2 as per requirement -->
	<XapNet.Gsc.Memory.Initial>2048</XapNet.Gsc.Memory.Initial>
	<XapNet.Gsc.Memory.Maximum>2048</XapNet.Gsc.Memory.Maximum>

	<XapNet.Gsm.ConfigFile>$(XapNet.Config.Path)\gsm.config</XapNet.Gsm.ConfigFile>
	<XapNet.Gsm.Memory.Initial>16</XapNet.Gsm.Memory.Initial>
	<XapNet.Gsm.Memory.Maximum>512</XapNet.Gsm.Memory.Maximum>

	<XapNet.Lus.ConfigFile>$(XapNet.Config.Path)\lus.config</XapNet.Lus.ConfigFile>
	<XapNet.Lus.Memory.Initial>16</XapNet.Lus.Memory.Initial>
	<XapNet.Lus.Memory.Maximum>512</XapNet.Lus.Memory.Maximum>

	<XapNet.Manager.ConfigFile>$(XapNet.Config.Path)\manager.config</XapNet.Manager.ConfigFile>
	<XapNet.Manager.Memory.Initial>1024</XapNet.Manager.Memory.Initial>
	<XapNet.Manager.Memory.Maximum>1024</XapNet.Manager.Memory.Maximum>
	
	<XapNet.WebUI.ConfigFile>$(XapNet.Config.Path)\webui.config</XapNet.WebUI.ConfigFile>
	<XapNet.WebUI.Memory.Maximum>512</XapNet.WebUI.Memory.Maximum>
</Settings>
