<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
	</configSections>
	<appSettings>
		<add key="TotalSpaces" value="3"/>
		<add key="NumOrderWorkers" value="4"/>
		<add key="NumFillProcessorWorkers" value="10"/>
		<add key="PrimaryOrders" value="100"/>
		<add key="BackupOrders" value="150"/>
		<add key="BaseRcordID" value="0"/>
		<add key="WithFeeder" value="true"/>
	</appSettings>
	<ProcessingUnit>
		<EmbeddedSpaces>
			<add Name="dataExampleSpace">
				<Properties>
					<!-- Set space cache policy to All-In-Cache -->
					<add Name="space-config.engine.cache_policy" Value="1"/>
					<add Name="cluster-config.cache-loader.external-data-source" Value="true"/>
					<add Name="cluster-config.cache-loader.central-data-source" Value="true"/>

					<add Name="cluster-config.groups.group.repl-policy.redo-log-capacity" Value="15000000"/>
					<add Name="cluster-config.groups.group.repl-policy.redo-log-recovery-capacity" Value="15000000"/>
					<add Name="cluster-config.mirror-service.redo-log-capacity" Value="15000000"/>

					<add Name="cluster-config.groups.group.repl-policy.redo-log-memory-capacity" Value="15000000"/>
					
					<!-- Memory watermarks -->	
					<add Name="space-config.engine.memory_usage.high_watermark_percentage" Value="97" />
					<add Name="space-config.engine.memory_usage.write_only_block_percentage" Value="96" />
					<add Name="space-config.engine.memory_usage.write_only_check_percentage" Value="95" />
					<add Name="space-config.engine.memory_usage.low_watermark_percentage" Value="94" />
					<add Name="space-config.engine.memory_usage.gc-before-shortage" Value="false" />
				</Properties>
				<ExternalDataSource Type="Piper.Processor.SolaceExternalDataSource">
				<!--  <ExternalDataSource Type="GigaSpaces.Practices.ExternalDataSource.NHibernate.NHibernateExternalDataSource"
						 	 Usage="ReadOnly"> -->
					<Properties>
						<!-- for NHibernate -->
						<add Name="nhibernate-hbm-dir" Value="NHibernateCfg"/>
						<add Name="nhibernate-config-file" Value="NHibernateCfg\nHibernate.cfg.xml"/>
						<!-- Reduce the number of initial load threads for this example, to avoid overwhelming the database with too many concurrent sessions-->
						<add Name="InitialLoadThreadPoolSize" Value="3" />
						<!-- below are defaults.
						<add Name="EnumeratorLoadFetchSize" Value="10000" />
						<add Name="InitialLoadChunkSize" Value="100000" />
						 -->
						<add Name="InitiallLoadWithSpaceRouting" Value="true" />						
						<add Name="AssemblyFileName" Value="Piper.Common.dll" />
						
						<!-- for solace -->
						<add Name="SpaceName" Value="dataExampleSpace" />
						<add Name="Solace.Host" Value="172.31.9.175" />
						<add Name="MaxAttempts" Value="3" />
						<add Name="Solace.UserName" Value="default" />
						<add Name="Solace.Password" Value="" />
						<add Name="Solace.VpnName" Value="default" />
						<add Name="Solace.ConnectRetries" Value="-1" />
						<add Name="Solace.Serialize.WithReflection" Value="false" />
					</Properties>

				</ExternalDataSource>
 			</add>
		</EmbeddedSpaces>
	</ProcessingUnit>
</configuration>
