<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
	</configSections>
	<appSettings>
		<add key="TotalSpaces" value="1"/>
		<add key="NumOrderWorkers" value="4"/>
		<add key="NumFillProcessorWorkers" value="10"/>
		<add key="PrimaryOrders" value="100"/>
		<add key="BackupOrders" value="150"/>
		<add key="BaseRcordID" value="0"/>
		<add key="WithFeeder" value="true"/>
	</appSettings>
	<ProcessingUnit>
		<EmbeddedSpaces>
			<add Name="dataExampleSpace">
				<Properties>
					<!-- Set space cache policy to All-In-Cache -->
					<add Name="space-config.engine.cache_policy" Value="1"/>
					<add Name="cluster-config.cache-loader.external-data-source" Value="true"/>
					<add Name="cluster-config.cache-loader.central-data-source" Value="true"/>

					<add Name="cluster-config.groups.group.repl-policy.redo-log-capacity" Value="15000000"/>
					<add Name="cluster-config.groups.group.repl-policy.redo-log-recovery-capacity" Value="15000000"/>
					<add Name="cluster-config.mirror-service.redo-log-capacity" Value="15000000"/>

					<!-- <add Name="cluster-config.groups.group.repl-policy.swap-redo-log.storage-type" Value="sqlite"/> -->
					<add Name="cluster-config.groups.group.repl-policy.redo-log-memory-capacity" Value="0"/>

				</Properties>
				<ExternalDataSource Type="CustomExternalDataSource.ExternalDataSource.SolaceExternalDataSource">
				<!--  <ExternalDataSource Type="GigaSpaces.Practices.ExternalDataSource.NHibernate.NHibernateExternalDataSource"
						 	 Usage="ReadOnly"> -->
				 	<Properties> 
			 			 <add Name="nhibernate-hbm-dir" Value="NHibernateCfg"/>
			 			 <add Name="nhibernate-config-file" Value="NHibernateCfg\nHibernate.cfg.xml"/>
						<!-- Reduce the number of initial load threads for this example, to avoid overwhelming the database with too many concurrent sessions -->
			 			<add Name="InitialLoadThreadPoolSize" Value="3"/> 
					</Properties> 
				</ExternalDataSource>
 			</add>
		</EmbeddedSpaces>
	</ProcessingUnit>
</configuration>