<?xml version="1.0" encoding="utf-8" ?>
<!-- Bhadresh's space pu.config -->
<configuration>
  <configSections>
    <section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
  </configSections>
  <appSettings>
    <add key="TotalSpaces" value="2"/>
    <add key="PrimaryOrders" value="300"/>
    <add key="BackupOrders" value="150"/>
    <add key="BackupOrders" value="10000"/>
  </appSettings>
  <ProcessingUnit>
    <EmbeddedSpaces>
      <add Name="dataExampleSpace">
    <Properties>
      <!-- Set space cache policy to All-In-Cache -->
      <add Name="space-config.engine.cache_policy" Value="1"/>
      <add Name="cluster-config.cache-loader.external-data-source" Value="true"/>
      <add Name="cluster-config.cache-loader.central-data-source" Value="true"/>
      <add Name="cluster-config.mirror-service.enabled" Value="true"/>
      <add Name="cluster-config.mirror-service.url" Value="jini://*/mirror-service_container/mirror-service"/>
    </Properties>
    <ExternalDataSource Type="GigaSpaces.Practices.ExternalDataSource.NHibernate.NHibernateExternalDataSource"
              Usage="ReadOnly">
      <Properties>
        <add Name="nhibernate-hbm-dir" Value="NHibernateCfg"/>
        <add Name="nhibernate-config-file" Value="NHibernateCfg\nHibernate.cfg.xml"/>
        <!-- Reduce the number of initial load threads for this example, to avoid overwhelming the database with too many concurrent sessions-->
        <add Name="InitialLoadThreadPoolSize" Value="3"/>
      </Properties>
    </ExternalDataSource>
     </add>
    </EmbeddedSpaces>
  </ProcessingUnit>
</configuration>
