<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
	</configSections>
	<appSettings>
		<add key="dataGridName" value="dataExampleSpace"/>
	</appSettings>
	<ProcessingUnit>
		<EmbeddedSpaces>
			<add Name="$(dataGridName)" >
				<Properties>
					<add Name="space-config.engine.cache_policy" Value="1" />
					<add Name="cluster-config.groups.group.repl-policy.redo-log-memory-capacity" Value="0" />
					<add Name="cluster-config.groups.group.repl-policy.redo-log-capacity" Value="10000" />
					<add Name="cluster-config.cache-loader.external-data-source" Value="true"/>
					<add Name="cluster-config.cache-loader.central-data-source" Value="true"/>
					<!-- add Name="cluster-config.mirror-service.enabled" Value="true" / -->
				</Properties>
				<ExternalDataSource Type="CustomExternalDataSource.ExternalDataSource.SolaceExternalDataSource" />
			</add>
		</EmbeddedSpaces>
	</ProcessingUnit>
</configuration>
